<div class="form-box">

    <form action="/" method="post">
        <div class="checkbox-box">
            <div class="checkbox-line">
                <label>Tem pelos?</label>
                <input type="checkbox" name="0" id="hair">
            </div>
            <div class="checkbox-line">
                <label>Tem penas?</label>
                <input type="checkbox" name="1" id="feathers">
            </div>
            <div class="checkbox-line">
                <label>Bota ovo?</label>
                <input type="checkbox" name="2" id="eggs">
            </div>
            <div class="checkbox-line">
                <label>Produz leite?</label>
                <input type="checkbox" name="3" id="milk">
            </div>
            <div class="checkbox-line">
                <label>É aéreo?</label>
                <input type="checkbox" name="4" id="airborne">
            </div>
            <div class="checkbox-line">
                <label>É aquático?</label>
                <input type="checkbox" name="5" id="aquatic">
            </div>
            <div class="checkbox-line">
                <label>É predador?</label>
                <input type="checkbox" name="6" id="predator">
            </div>
            <div class="checkbox-line">
                <label>Tem dentes?</label>
                <input type="checkbox" name="7" id="toothed">
            </div>
            <div class="checkbox-line">
                <label>É vertebrado?</label>
                <input type="checkbox" name="8" id="backbone">
            </div>
            <div class="checkbox-line">
                <label>Respira?</label>
                <input type="checkbox" name="9" id="breathes">
            </div>
            <div class="checkbox-line">
                <label>É venenoso?</label>
                <input type="checkbox" name="10" id="venomous">
            </div>
            <div class="checkbox-line">
                <label>Tem barbatanas?</label>
                <input type="checkbox" name="11" id="fins">
            </div>
            <div class="checkbox-line">
                <label>Quantas pernas tem?</label>
                <input type="number" name="12" id="legs">
            </div>
            <div class="checkbox-line">
                <label>Tem rabo?</label>
                <input type="checkbox" name="13" id="tail">
            </div>
            <div class="checkbox-line">
                <label>É doméstico?</label>
                <input type="checkbox" name="14" id="domestic">
            </div>
            <div class="checkbox-line">
                <label>Tamanho de gato?</label>
                <input type="checkbox" name="15" id="catsize">
            </div>
        </div>
        <div class="button-box">
            <button type="submit">Classificar</button>
        </div>
    </form>

</div>