<div class="main-start-header">
    <a href="https://github.com/cristianoaguiarofc/animal-classifier" target="_blank">
        <img src="img/github-icon.png" alt="">
    </a>
    <a href="/">
        <img src="img/home-icon.png" alt="">
    </a>
</div>
<div class="main-start-box">

    <img class="main-start-logo" src="img/logo classificador.png" alt="" srcset="">

    <div class="title-box">
        <span class="title">Animal</span>
        <span class="title">Classifier</span>   
    </div>

</div>