<div class="main-start-box">

    <img class="main-start-logo" src="img/logo classificador.png" alt="" srcset="">

    <div class="title-box">
        <span class="title">Animal</span>
        <span class="title">Classifier</span>   
    </div>

</div>