<div class="resultInfo-header">
    <a href="https://github.com/cristianoaguiarofc/animal-classifier" target="_blank">
        <img src="img/github-icon.png" alt="">
    </a>
    <a href="/">
        <img src="img/home-icon.png" alt="">
    </a>
</div>
<div class="resultInfo-box">
    <img src="<%= image %>" alt="" srcset="">
</div>